<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>School</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  
    <%# SFC Logo %>
    <%= image_tag "https://www.sfc.keio.ac.jp/img/logo.png", class: "block" %>

    <style>
      .block {
        display: block;
      }
    </style>
  </body>
</html>
